/* 
* @Author: gicque_p
* @Date:   2015-09-29 10:22:35
* @Last Modified by:   gicque_p
* @Last Modified time: 2015-09-29 20:51:03
*/

@font-face {
    font-family: Cabana;
    src: url(../fonts/Cabana-Regular.otf);
}

@font-face {
    font-family: GrahamHand;
    src: url(../fonts/GrahamHand.otf), url(../fonts/GrahamHand.ttf);
}

@font-face {
    font-family: Cutepunk;
    src: url(../fonts/Cutepunk_Regular.otf);
}

@font-face {
    font-family: LearningCurve;
    src: url(../fonts/LearningCurve_OT.otf);
}

@font-face {
    font-family: WriteMe;
    src: url(../fonts/write_me.ttf);
}

header {
    /*background: url(../img/wood.jpg);*/
    /*background-attachment: fixed;*/
    color: #FFFFFF;
}

.top {
    font-family: GrahamHand;

    background-color: rgba(21, 21, 21, 0.8);
}

.main-title h1 {
    font-size: 4em;
    margin: 0;
    padding-top: 1vh;
}

.nav a {
    color: #FFFFFF;
    text-decoration: none;
}

.nav a:hover {
    color: #FF9800;
}

.header {
    font-family: Cabana;

    display: table;
    position: relative;
}

.header, #me, #projects {
    width: 100%;
    min-height: 100vh;
}

.text-middle {
    display: table-cell;
    vertical-align: middle;
}

.text-middle h1 {
    font-size: 15em;
    text-shadow: 3px 3px 8px #000;

    padding-bottom: 5vh;
}

.text-middle h2 {
    font-size: 8em;
    text-shadow: 3px 3px 8px #000;
}

.text-middle h2 small {
    color: #FFFFFF;
}

.content {
    color: #FFFFFF;
    text-shadow: 3px 3px 8px #000;
}

.content h3 {
    font-family: Cabana;

    font-size: 8em;
}

.content hr {
    width: 25%;
    height: 1px;
    background-color: #FFF;

    -moz-box-shadow: 0px 0px 8px 0px #212121;
    -webkit-box-shadow: 0px 0px 8px 0px #212121;
    -o-box-shadow: 0px 0px 8px 0px #212121;
    box-shadow: 0px 0px 8px 0px #212121;

    margin-bottom: 6vh;
}

.content p {
    font-family: WriteMe;

    word-wrap: break-word;
    font-size: 4em;
}

footer {
    font-family: Cabana;

    font-size: 2em;
    background-color: rgba(21, 21, 21 , 0.8);
    color: #FFFFFF;
}
