/* 
* @Author: gicque_p
* @Date:   2015-09-29 10:22:35
* @Last Modified by:   gicque_p
* @Last Modified time: 2015-09-29 11:45:49
*/

@font-face {
    font-family: Cabana;
    src: url(../fonts/Cabana-Regular.otf);
}

@font-face {
    font-family: GrahamHand;
    src: url(../fonts/GrahamHand.otf), url(../fonts/GrahamHand.ttf);
}

header {
    background: url(../img/wood.jpg);
    background-attachment: fixed;
    color: #FFFFFF;
}

.top {
    font-family: GrahamHand;

    background-color: #212121;
    font-size: 5em;
}

.header {
    font-family: Cabana;

    display: table;
    position: relative;
    width: 100%;
    height: 100vh;
}

.text-middle {
    display: table-cell;
    vertical-align: middle;
}

h1 {
    font-size: 10em;
}

h2 {
    font-size: 6em;
}

h2 small {
    color: #FFFFFF;
}
