/* 
* @Author: gicque_p
* @Date:   2015-09-29 10:22:35
* @Last Modified by:   gicque_p
* @Last Modified time: 2015-10-07 12:43:40
*/

@font-face {
    font-family: Cabana;
    src: url(../fonts/Cabana-Regular.otf);
}

@font-face {
    font-family: GrahamHand;
    src: url(../fonts/GrahamHand.otf), url(../fonts/GrahamHand.ttf);
}

@font-face {
    font-family: Cutepunk;
    src: url(../fonts/Cutepunk_Regular.otf);
}

@font-face {
    font-family: LearningCurve;
    src: url(../fonts/LearningCurve_OT.otf);
}

@font-face {
    font-family: WriteMe;
    src: url(../fonts/write_me.ttf);
}


@media screen and (max-width: 640px) {
    .header h1, .header h2 {
        font-size: 6em;
    }

    .content, .content h3, .content h4, footer {
        font-size: 2em;
    }

    #papersheet, #headphones, #mouse {
        display: none;
    }
}

@media screen and (min-width: 640px) {
    .main-title h1 {
        font-size: 4em;
    }

    .text-middle h1 {
        font-size: 15em;
    }

    .text-middle h2 {
        font-size: 8em;
    }

    .content h3 {
        font-size: 8em;
    }

    .content h4 {
        font-size: 5em;
    }

    .content p {
        font-size: 4em;
    }

    .biography {
        font-size: 0.8em;
    }

    .skills {
        font-size: 0.8em;
    }

    .skills ul {
        font-size: 5em;
    }

    .skills li small {
        font-size: 0.4em;
    }

    #contact p {
        font-size: 2.5em;
    }

    aside {
        font-size: 1.8em;
    }

    aside span {
        font-size: 0.8em;
    }

    footer {
        font-size: 2em;
    }
}

header {
    color: #FFFFFF;
}

.top {
    font-family: GrahamHand;

    background-color: rgba(21, 21, 21, 0.8);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

.main-title h1 {
    margin: 0;
    padding-top: 1vh;
}

.nav a {
    color: #FFFFFF;
    text-decoration: none;
}

.nav a:hover {
    color: #FF9800;
}

.nav h2.disabled-link {
    cursor: not-allowed;
}

.nav h2.disabled-link a {
    pointer-events: none;
    color: #AAAAAA;
}

.header {
    font-family: Cabana;

    display: table;
    position: relative;
    width: 100%;
    min-height: 100vh;
}

.text-middle {
    display: table-cell;
    vertical-align: middle;
}

.text-middle h1 {
    text-shadow: 3px 3px 8px #000;

    padding-bottom: 5vh;
}

.text-middle h2 {
    text-shadow: 3px 3px 8px #000;
}

.text-middle h2 small {
    color: #FFFFFF;
}

.content {
    color: #FFFFFF;
    text-shadow: 3px 3px 8px #000;
}

.content h3 {
    font-family: Cabana;
}

.content h4 {
    font-family: GrahamHand;

    text-shadow: 3px 3px 8px #000;
}

.content hr {
    width: 25%;
    height: 1px;
    background-color: #FFF;

    -moz-box-shadow: 0px 0px 8px 0px #212121;
    -webkit-box-shadow: 0px 0px 8px 0px #212121;
    -o-box-shadow: 0px 0px 8px 0px #212121;
    box-shadow: 0px 0px 8px 0px #212121;

    margin-bottom: 6vh;
}

.content p {
    font-family: WriteMe;

    word-wrap: break-word;
}

.content a {
    color: #FFFFFF;
    text-decoration: none;
}

.content a:hover {
    color: #FF9800;
}

.content strong {
    font-weight: 400;
    font-style: italic;
}

#me, #projects {
    padding-bottom: 40vh;
}

.biography {
    text-align: left;
}

.skills {
    text-align: right;
}

.skills ul {
    font-family: WriteMe;

    list-style: none;
}

.skills li {
    line-height: 0.7;
    padding: 2vh;
}

.skills li small {
    text-align: center;
}

#projects ul {
    list-style: none;
}

#projects ul li {
    padding: 0;
    margin: 8vh 1vw;
    border: 4px solid #FFFFFF;
}

aside {
    font-family: CutePunk;

    background-color: rgba(21, 21, 21, 0.8);
    width: 4vw;

    position: fixed;
    left: 0;
    bottom: 0;

    opacity: 0;
}

footer {
    font-family: Cabana;

    background-color: rgba(21, 21, 21 , 0.8);
    color: #FFFFFF;
}
